<%= form_with(model: lcongviec_trangthai) do |form| %>
<% if lcongviec_trangthai.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(lcongviec_trangthai.errors.count, "error") %> prohibited this lcongviec_trangthai from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% lcongviec_trangthai.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :label, class: label_class %>
          <%= form.text_field :label, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :gia_tri, class: label_class %>
          <%= form.text_field :gia_tri, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :color, class: label_class %>
          <%= form.text_field :color, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if lcongviec_trangthai.persisted? %>
<%= link_to "Hủy", lcongviec_trangthai, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Hủy", lcongviec_trangthais_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
