 <%= turbo_frame_tag "edit_board_modal" do %>
  <div aris-lablledby="modal-title" aria-modal="true" class="fixed inset-0 z-50 overflow-y-auto bg-black/80" role="dialog">
    <div class="h-screen w-full realtive flex items-center justify-center ">
      <div class="shadow-xl max-w-2xl bg-white m-1 p-8 prose prose-teal origin-bottom mx-auto dark:bg-slate-700 dark:text-slate-200 min-w-[600px] rounded-2xl">
        <%= form_with( model: @board,class: "space-y-8 divide-gray-200") do |f| %>
            <% if @board.errors.any? %>
              <div id="error_explanation" class="bg-red-50  rounded text-red-800">
                <h2 class="text-lg font-semibold "><%= pluralize(@board.errors.count, "error") %> Hãy sửa lỗi trước khi thêm:</h2>

                <ul class="list-disc leading-relaxed">
                  <% @board.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
           
            <div class=" divide-gray-200 divide-y">
                <div class="">
                    <div class="items-left">
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Sửa board | <%= @board.name%></h3>
                        <p class="mt-1 text-sm text-gray-500">Trang sửa board xử lí công việc</p>
                    </div>
                    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                        <div class="sm:col-span-6">
                            <%= f.label :name, "Tên board", class: "text-left block text-sm font-medium text-gray-700"%>
                            <div class="mt-1">
                                <%= f.text_field :name , class:"block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"%>
                            </div>
                        </div>
                        
                        <div class="sm:col-span-6">
                            <%= f.label :user_id, "Người giám sát", class: "text-left block text-sm font-medium text-gray-700"%>
                            <div class="mt-1">
                                <%# <%= f.text_field :user_id, class:"block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"%>
                                <%= f.select :user_id, options_for_select(User.all.map { |tt| [tt.email,tt.id]},@board.user_id),{},{class:"block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"} %>
                            
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="pt-5">
                <div class="flex justify-end">
                    <%= link_to "Hủy", boards_path , class:"rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
                    <%= f.submit "Sửa Board", class: "ml-3 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"%>
                </div>
            </div>
        <% end %>
        </div>  
      
    </div>
  </div>
    
<% end %>